# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

[package]
edition = "2021"
name = "test_with_tracing_macro"
version = "0.1.0"

[lib]
proc-macro = true

[dependencies]
proc-macro2.workspace = true
quote.workspace = true
syn = { features = ["full"], workspace = true }

[lints]
workspace = true
