# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.
#
# Used by nginx (via OPENSSL_CONF) to load the provider so that the
# store:azihsm:// URI in ssl_certificate_key resolves automatically.

openssl_conf = openssl_init

[openssl_init]
providers = provider_sect

[provider_sect]
default = default_sect
base = base_sect
azihsm_provider = azihsm_provider_sect

[default_sect]
activate = 1

[base_sect]
activate = 1

[azihsm_provider_sect]
module = /usr/lib/x86_64-linux-gnu/ossl-modules/azihsm_provider.so
activate = 1
