name: Rust

on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/rust.yml
  pull_request:
    branches: [ main, dev ]
  merge_group:
    branches: [ main, dev ]
  schedule:
    - cron: '0 8 * * *'  # Daily at midnight PST (8 AM UTC)
env:
  CARGO_TERM_COLOR: always
  CACHE_KEY_ID: 17a95b8ee88a5252831700850a14457749384af5

jobs:
  build_ubuntu:

    runs-on: ubuntu-24.04

    defaults:
      run:
        working-directory: .

    steps:
    - uses: actions/checkout@v4
    - name: Install apt packages
      run: |
        sudo apt-get update
        sudo apt-get install -y pkg-config libssl-dev libbsd-dev
    - name: Update paths for tools
      run: |
        echo "${{ runner.tool_cache }}/cargo-nextest/bin" >> $GITHUB_PATH
        echo "${{ runner.tool_cache }}/taplo-cli/bin" >> $GITHUB_PATH
        echo "${{ runner.tool_cache }}/cargo-fuzz/bin" >> $GITHUB_PATH
        echo "${{ runner.tool_cache }}/cargo-audit/bin" >> $GITHUB_PATH
        echo "${{ runner.tool_cache }}/cargo-llvm-cov/bin" >> $GITHUB_PATH
    - name: Restore Cargo cache
      id: cargo-cache
      uses: actions/cache/restore@v5
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          ${{ runner.temp }}/tool_cache.tar.gz
        key: ${{ runner.os }}-cargo-${{ env.CACHE_KEY_ID }}
    - name: Extract tool cache
      if: steps.cargo-cache.outputs.cache-hit == 'true'
      run: tar -xzf ${{ runner.temp }}/tool_cache.tar.gz -C ${{ runner.tool_cache }}
    - name: Setup on cache miss
      if: steps.cargo-cache.outputs.cache-hit != 'true'
      run: cargo xtask precheck --setup --tool-cache ${{ runner.tool_cache }}
    - name: Install nightly rustfmt
      run: cargo xtask rustup-component-add --component rustfmt --toolchain nightly
    - name: Install clippy
      run: cargo xtask rustup-component-add --component clippy
    - name: Run Copyright
      run: cargo xtask precheck --copyright
    - name: Run Audit
      run: cargo xtask precheck --audit
    - name: Cargo format
      run: cargo xtask precheck --fmt
    - name: Cargo Clippy
      run: cargo xtask precheck --clippy
    - name: SDK Run all mock tests table-4
      run: cargo xtask precheck --nextest --package azihsm_ddi --features mock,table-4
    - name: SDK Run all mock tests table-64
      run: cargo xtask precheck --nextest --package azihsm_ddi --features mock,table-64
    - name: Run all mock tests with code coverage
      run: cargo xtask precheck --coverage
    - name: Upload coverage report
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report-ubuntu
        path: ./target/reports/
  
  build_windows:

    runs-on: windows-latest

    defaults:
      run:
        working-directory: .

    steps:
    - uses: actions/checkout@v4
    - name: Update paths for tools
      run: |
        echo "${{ runner.tool_cache }}\cargo-nextest\bin" >> $env:GITHUB_PATH
        echo "${{ runner.tool_cache }}\taplo-cli\bin" >> $env:GITHUB_PATH
        echo "${{ runner.tool_cache }}\cargo-fuzz\bin" >> $env:GITHUB_PATH
        echo "${{ runner.tool_cache }}\cargo-audit\bin" >> $env:GITHUB_PATH
        echo "${{ runner.tool_cache }}\cargo-llvm-cov\bin" >> $env:GITHUB_PATH
    - name: Restore Cargo cache
      id: cargo-cache
      uses: actions/cache/restore@v5
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          ${{ runner.temp }}/tool_cache.tar.gz
        key: ${{ runner.os }}-cargo-${{ env.CACHE_KEY_ID }}
    - name: Extract tool cache
      if: steps.cargo-cache.outputs.cache-hit == 'true'
      run: tar -xzf ${{ runner.temp }}/tool_cache.tar.gz -C ${{ runner.tool_cache }}
    - name: Setup on cache miss
      if: steps.cargo-cache.outputs.cache-hit != 'true'
      run: cargo xtask precheck --setup --tool-cache ${{ runner.tool_cache }}
    - name: Install nightly rustfmt
      run: cargo xtask rustup-component-add --component rustfmt --toolchain nightly
    - name: Install clippy
      run: cargo xtask rustup-component-add --component clippy
    - name: Run Copyright
      run: cargo xtask precheck --copyright
    - name: Run Audit
      run: cargo xtask precheck --audit
    - name: Cargo format
      run: cargo xtask precheck --fmt
    - name: Cargo Clippy
      run: cargo xtask precheck --clippy
    - name: Run all mock tests with code coverage
      run: cargo xtask precheck --coverage
    - name: Upload coverage report
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report-windows
        path: ./target/reports/
