name: Rust

on:
  push:
    branches: [ main, dev, napi ]
  pull_request:
    branches: [ main, dev, napi ]
  merge_group:
    branches: [ main, dev, napi ]
env:
  CARGO_TERM_COLOR: always

jobs:
  build_ubuntu:

    runs-on: ubuntu-24.04

    defaults:
      run:
        working-directory: .

    steps:
    - uses: actions/checkout@v4
    - name: Install apt packages
      run: |
        sudo apt-get update
        sudo apt-get install -y pkg-config libssl-dev libbsd-dev
    - name: Restore Cargo cache
      id: cache-cargo-restore
      uses: actions/cache/restore@v4
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Run Setup
      if: steps.cache-cargo-restore.outputs.cache-hit != 'true'
      run: cargo xtask precheck --setup
    - name: Save Cargo cache
      if: steps.cache-cargo-restore.outputs.cache-hit != 'true'
      uses: actions/cache/save@v4
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Run Copyright
      run: cargo xtask precheck --copyright
    - name: Run Audit
      run: cargo xtask precheck --audit
    - name: Cargo format
      run: |
        cargo +nightly fmt --version
        cargo xtask precheck --fmt --skip-clang
    - name: Cargo Clippy
      run: |
        cargo clippy --version
        cargo xtask precheck --clippy
    - name: SDK Run all mock tests table-4
      run: cargo xtask precheck --nextest --package azihsm_ddi --features mock,table-4
    - name: SDK Run all mock tests table-64
      run: cargo xtask precheck --nextest --package azihsm_ddi --features mock,table-64
    - name: Run all mock tests with code coverage
      run: cargo xtask precheck --coverage
    - name: Upload coverage report
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report-ubuntu
        path: ./target/reports/
  
  build_windows:

    runs-on: windows-latest

    defaults:
      run:
        working-directory: .

    steps:
    - uses: actions/checkout@v4
    - name: Restore Cargo cache
      id: cache-cargo-restore
      uses: actions/cache/restore@v4
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Run Setup
      if: steps.cache-cargo-restore.outputs.cache-hit != 'true'
      run: cargo xtask precheck --setup
    - name: Save Cargo cache
      if: steps.cache-cargo-restore.outputs.cache-hit != 'true'
      uses: actions/cache/save@v4
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Run Copyright
      run: cargo xtask precheck --copyright
    - name: Run Audit
      run: cargo xtask precheck --audit
    - name: Cargo format
      run: |
        cargo +nightly fmt --version --skip-clang
        cargo xtask precheck --fmt
    - name: Cargo Clippy
      run: |
        cargo clippy --version
        cargo xtask precheck --clippy
    - name: Run all mock tests with code coverage
      run: cargo xtask precheck --coverage
    - name: Upload coverage report
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report-windows
        path: ./target/reports/
