name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_ubuntu:

    runs-on: ubuntu-${{ vars.UBUNTU_VER }}

    defaults:
      run:
        working-directory: api

    steps:
    - uses: actions/checkout@v4
    - name: Install Linux dependencies
      run: sudo apt-get -y install build-essential nghttp2 libnghttp2-dev libssl-dev
    - name: Run Setup
      run: cargo xtask setup
    - name: Run Clippy
      run: cargo xtask clippy
    - name: Run Fmt
      run: cargo xtask fmt --toolchain nightly
    - name: Run Fmt
      run: cargo xtask fmt --toolchain nightly
    - name: elevate warnings to errors for all build steps
      run: echo "RUSTFLAGS=-D warnings" >> $GITHUB_ENV
    - name: Build mcr_ddi tests
      run: |
        cargo xtask clean
        cargo xtask build --tests
      working-directory: api/ddi/lib/tests
    - name: Build mcr_api tests
      run: |
        cargo xtask clean
        cargo xtask build --tests
      working-directory: api/lib/tests
    - name: Build mcr_api_hook tests
      run: |
        cargo xtask clean
        cargo xtask build --tests --features testhooks
      working-directory: api/lib/tests
    - name: Cargo build release
      run: cargo xtask build --all-targets --release
    - name: Cargo test mock 1 table
      run: cargo xtask nextest --features mock,testhooks
    - name: Cargo test crypto package
      run: |
        cargo xtask nextest --package crypto
        cargo xtask nextest --features mock --package mcr_api --no-default-features
    - name: Cargo fuzz
      run: |
        cargo xtask build --features mock,testhooks
        cargo xtask fuzz
    - name: Cargo test mock 4 tables
      run: |
        cargo xtask nextest --features mock,testhooks,table-4
    - name: Cargo test mock 64 tables
      run: |
        cargo xtask nextest --features mock,testhooks,table-64
    - name: Cargo build mock perf
      run: cargo xtask build --features mock --package mcr_perf
    - name: Mock Perf test - multi-threaded
      run: |
        cargo xtask mcr-perf --shared-session --threads 120 --stabilize-seconds 5 --test-seconds 10 custom --get-api-rev 100
        cargo xtask mcr-perf --shared-session --threads 200 --stabilize-seconds 5 --test-seconds 10 custom --aes-cbc-128-encrypt 100

  build_windows:

    runs-on: windows-latest

    defaults:
      run:
        working-directory: api

    steps:
    - uses: actions/checkout@v4
    - name: Run Setup
      run: cargo xtask setup
    - name: Set Symcrypt path
      run: |
        $libpath = Join-Path -Path ([System.Environment]::GetFolderPath("LocalApplicationData")) -ChildPath "symcrypt\dll"
        "SYMCRYPT_LIB_PATH=$libpath" >> $env:GITHUB_ENV
      shell: pwsh
    - name: Run Clippy
      run: cargo xtask clippy
    - name: Run Fmt
      run: cargo xtask fmt --toolchain nightly
    - name: Run Fmt
      run: cargo xtask fmt --toolchain nightly
    - name: elevate warnings to errors for all build steps
      run: echo "RUSTFLAGS=-D warnings" >> $GITHUB_ENV
    - name: Build mcr_ddi tests
      run: |
        cargo xtask clean
        cargo xtask build --tests
      working-directory: api/ddi/lib/tests
    - name: Build mcr_api tests
      run: |
        cargo xtask clean
        cargo xtask build --tests
      working-directory: api/lib/tests
    - name: Build mcr_api_hook tests
      run: |
        cargo xtask clean
        cargo xtask build --tests --features testhooks
      working-directory: api/lib/tests
    - name: Cargo build release
      run: cargo xtask build --all-targets --release
    - name: Cargo test mock 1 table
      run: cargo xtask nextest --features mock,testhooks
    - name: Cargo test crypto package
      run: |
        cargo xtask nextest --package crypto
        cargo xtask nextest --features mock --package mcr_api --no-default-features
    - name: Cargo build mock perf
      run: cargo xtask build --features mock --package mcr_perf
    - name: Mock Perf test - multi-threaded
      run: |
        cargo xtask mcr-perf --shared-session --threads 120 --stabilize-seconds 5 --test-seconds 10 custom --get-api-rev 100
        cargo xtask mcr-perf --shared-session --threads 200 --stabilize-seconds 5 --test-seconds 10 custom --aes-cbc-128-encrypt 100
