name: Rust

on:
  push:
    branches: [ main, dev, napi ]
  pull_request:
    branches: [ main, dev, napi ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_ubuntu:

    runs-on: ubuntu-${{ vars.UBUNTU_VER }}

    defaults:
      run:
        working-directory: .

    steps:
    - uses: actions/checkout@v4
    - name: Run Setup
      run: cargo xtask setup
    - name: Run Copyright
      run: cargo xtask copyright
    - name: Cargo format
      run: |
        cargo +nightly fmt --version
        cargo xtask fmt --toolchain nightly
    - name: Cargo Clippy
      run: |
        cargo clippy --version
        cargo xtask clippy
    - name: SDK Run all mock tests
      run: cargo xtask nextest --features mock
    - name: SDK Run all mock tests table-4
      run: cargo xtask nextest --package azihsm_ddi --features mock,table-4
    - name: SDK Run all mock tests table-64
      run: cargo xtask nextest --package azihsm_ddi --features mock,table-64

  build_windows:

    runs-on: windows-latest

    defaults:
      run:
        working-directory: .

    steps:
    - uses: actions/checkout@v4
    - name: Run Setup
      run: cargo xtask setup
    - name: Run Copyright
      run: cargo xtask copyright
    - name: Cargo format
      run: |
        cargo +nightly fmt --version
        cargo xtask fmt --toolchain nightly
    - name: Cargo Clippy
      run: |
        cargo clippy --version
        cargo xtask clippy
    - name: SDK Run all mock tests
      run: cargo xtask nextest --features mock
