name: Rust

on:
  push:
    branches: [ main, dev, napi ]
  pull_request:
    branches: [ main, dev, napi ]
  merge_group:
    branches: [ main, dev, napi ]
  schedule:
    - cron: '0 8 * * *'  # Daily at midnight PST (8 AM UTC)
env:
  CARGO_TERM_COLOR: always
  CACHE_KEY_ID: 51818cf945d051b6d5c86fc0aa7447f9af01318d

jobs:
  build_ubuntu:

    runs-on: ubuntu-24.04

    outputs:
      LINUX_TOTAL_TESTS: ${{ steps.nextest-report.outputs.TOTAL_TESTS }}
      LINUX_SKIPPED_TESTS: ${{ steps.nextest-report.outputs.SKIPPED_TESTS }}

    defaults:
      run:
        working-directory: .

    steps:
    - uses: actions/checkout@v4
    - name: Install apt packages
      run: |
        sudo apt-get update
        sudo apt-get install -y pkg-config libssl-dev libbsd-dev
    - name: Restore Cargo cache
      uses: actions/cache/restore@v5
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
        key: ${{ runner.os }}-cargo-${{ env.CACHE_KEY_ID }}
        fail-on-cache-miss: true
    - name: Install nightly rustfmt
      run: cargo xtask rustup-component-add --component rustfmt --toolchain nightly
    - name: Install clippy
      run: cargo xtask rustup-component-add --component clippy
    - name: Run Copyright
      run: cargo xtask precheck --copyright
    - name: Run Audit
      run: cargo xtask precheck --audit
    - name: Cargo format
      run: cargo xtask precheck --fmt
    - name: Cargo Clippy
      run: cargo xtask precheck --clippy
    - name: SDK Run all mock tests table-4
      id: test-mock-table-4
      run: cargo xtask precheck --nextest --package azihsm_ddi --features mock,table-4 --profile ci-mock-table-4
      continue-on-error: true
    - name: SDK Run all mock tests table-64
      id: test-mock-table-64
      run: cargo xtask precheck --nextest --package azihsm_ddi --features mock,table-64 --profile ci-mock-table-64
      continue-on-error: true
    - name: Run all mock tests with code coverage
      id: test-mock-coverage
      run: cargo xtask precheck --coverage
      continue-on-error: true
    - name: Upload coverage report
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report-ubuntu
        path: ./target/reports/
    - name: Generate nextest report
      id: nextest-report
      run: cargo xtask precheck --nextest-report
    - name: Fail if any tests failed
      if: ${{ steps.test-mock-coverage.outcome == 'failure' || steps.test-mock-table-4.outcome == 'failure' || steps.test-mock-table-64.outcome == 'failure' }}
      run: |
        echo "One or more tests failed."
        exit 1
  
  build_windows:

    runs-on: windows-latest

    outputs:
      WINDOWS_TOTAL_TESTS: ${{ steps.nextest-report.outputs.TOTAL_TESTS }}
      WINDOWS_SKIPPED_TESTS: ${{ steps.nextest-report.outputs.SKIPPED_TESTS }}

    defaults:
      run:
        working-directory: .

    steps:
    - uses: actions/checkout@v4
    - name: Restore Cargo cache
      uses: actions/cache/restore@v5
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
        key: ${{ runner.os }}-cargo-${{ env.CACHE_KEY_ID }}
        fail-on-cache-miss: true
    - name: Install nightly rustfmt
      run: cargo xtask rustup-component-add --component rustfmt --toolchain nightly
    - name: Install clippy
      run: cargo xtask rustup-component-add --component clippy
    - name: Run Copyright
      run: cargo xtask precheck --copyright
    - name: Run Audit
      run: cargo xtask precheck --audit
    - name: Cargo format
      run: cargo xtask precheck --fmt
    - name: Cargo Clippy
      run: cargo xtask precheck --clippy
    - name: Run all mock tests with code coverage
      id: test-mock-coverage
      run: cargo xtask precheck --coverage
      continue-on-error: true
    - name: Upload coverage report
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report-windows
        path: ./target/reports/
    - name: Generate nextest report
      id: nextest-report
      run: cargo xtask precheck --nextest-report
    - name: Fail if any tests failed
      if: ${{ steps.test-mock-coverage.outcome == 'failure' }}
      run: |
        echo "One or more tests failed."
        exit 1

  write_test_history:

    runs-on: ubuntu-24.04

    needs: [build_ubuntu, build_windows]

    env:
      EVENT_NAME: ${{github.event_name}}
      PR_TITLE: ${{github.event.pull_request.title}}
      PR_BASE_COMMIT: ${{github.event.pull_request.base.sha}}
      WINDOWS_TOTAL_TESTS: ${{needs.build_windows.outputs.WINDOWS_TOTAL_TESTS}}
      WINDOWS_SKIPPED_TESTS: ${{needs.build_windows.outputs.WINDOWS_SKIPPED_TESTS}}
      LINUX_TOTAL_TESTS: ${{needs.build_ubuntu.outputs.LINUX_TOTAL_TESTS}}
      LINUX_SKIPPED_TESTS: ${{needs.build_ubuntu.outputs.LINUX_SKIPPED_TESTS}}

    defaults:
      run:
        working-directory: .

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        ref: ${{ github.event.pull_request.head.sha }}
    - name: Install apt packages
      run: |
        sudo apt-get update
        sudo apt-get install -y pkg-config libssl-dev libbsd-dev
    - name: Configure actions-cache environment variables
      uses: actions/github-script@v7
      with:
        script: |
          core.exportVariable('ACTIONS_RESULTS_URL', process.env.ACTIONS_RESULTS_URL || '');
          core.exportVariable('ACTIONS_RUNTIME_TOKEN', process.env.ACTIONS_RUNTIME_TOKEN || '');
          core.exportVariable('ACTIONS_CACHE_SERVICE_V2', 'on');
    - name: Write test history to workflow summary
      run: cargo xtask precheck --nextest-history
