name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_ubuntu:

    runs-on: ubuntu-${{ vars.UBUNTU_VER }}

    defaults:
      run:
        working-directory: .

    steps:
    - uses: actions/checkout@v4
    - name: Run Setup
      run: cargo xtask setup
    - name: Run Copyright
      run: cargo xtask copyright
    - name: Cargo format
      run: |
        cargo +nightly fmt --version
        cargo xtask fmt --toolchain nightly
    - name: Cargo Clippy
      run: |
        cargo clippy --version
        cargo xtask clippy
    - name: Run Rust tests
      run: cargo xtask test
    - name: Clean release build and run tests
      run: cargo xtask nbt --clean --config Release --test

  build_windows:

    runs-on: windows-latest

    defaults:
      run:
        working-directory: .

    steps:
    - uses: actions/checkout@v4
    - name: Run Setup
      run: cargo xtask setup
    - name: Set Symcrypt path
      run: |
        $libpath = Join-Path -Path ([System.Environment]::GetFolderPath("LocalApplicationData")) -ChildPath "symcrypt\dll"
        "SYMCRYPT_LIB_PATH=$libpath" >> $env:GITHUB_ENV
      shell: pwsh
    - name: Run Copyright
      run: cargo xtask copyright
    - name: Cargo format
      run: |
        cargo +nightly fmt --version
        cargo xtask fmt --toolchain nightly
    - name: Cargo Clippy
      run: |
        cargo clippy --version
        cargo xtask clippy
    - name: Run Rust tests
      run: cargo xtask test
    - name: Clean release build and run tests
      run: cargo xtask nbt --clean --config Release --test
