name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_ubuntu:

    runs-on: ubuntu-${{ vars.UBUNTU_VER }}

    defaults:
      run:
        working-directory: api

    steps:
    - uses: actions/checkout@v4
    - name: Install Symcrypt
      run: sudo bash ./install-symcrypt.sh ${{ vars.UBUNTU_VER }}
      working-directory: .github/workflows/scripts
    - name: Install Linux dependencies
      run: sudo apt-get -y install build-essential nghttp2 libnghttp2-dev libssl-dev
    - name: Build
      run: cargo build --features use-openssl
    - name: Run tests
      run: cargo test --features mock,testhooks,use-openssl -- --test-threads=1

  job_windows:

    runs-on: windows-latest
    
    env:
      SYMCRYPT_LIB_PATH: C:\Users\runneradmin\AppData\Local\symcrypt\dll

    defaults:
      run:
        working-directory: api

    steps:
    - uses: actions/checkout@v4
    - name: Run job
      run: cargo xtask job-windows
